### all ignore ###
../*
../.**

### not ignore ###
!../.Brewfile
!../.bin/
!../.bin/**
!../.github/
!../.github/**
!../Makefile
!../vscode/
!../vscode/**

!../README.md
!../LICENSE
!../.gitignore
!../.gitkeep